@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf');
}

* {
    font-family: Poppins-Regular, sans-serif;
}

html {
    height: 100%;
    min-height: 70em;
    background-repeat: no-repeat;
}

body {
    background: #3881d4;
    background: -webkit-linear-gradient(45deg, #07293d, #3881d4);
    background: -o-linear-gradient(45deg, #07293d, #3881d4);
    background: -moz-linear-gradient(45deg, #07293d, #3881d4);
    background: linear-gradient(45deg, #07293d, #3881d4);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.ContainerClass {
    margin: 0 auto;
    width: 80%;
    max-width: 100%;
}

.TittleForm {
    color: rgb(255, 255, 255);
    margin: 0 auto;
    padding-top: 2em;
    padding-bottom: 1em;
    font-size: 27px;
    font-weight: 500;
    text-align: center;
    vertical-align: center;
}

input:hover {
    background-color: rgb(245, 245, 245);
    border: 1px solid groove;
}

.FieldsetTittle {
    border: 2px rgb(172, 167, 167) solid;
    border-radius: 7px;
    margin-bottom: 1em;
}

.LegendTittle {
    color: rgb(255, 255, 255);
    font-size: 20px;
    width: auto;
}

.ClassButton {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button-cep {
    border-radius: 0 6px 6px 0;
    padding: 0 30px 0 30px;
    text-align: center;
    border: none;
    background: rgb(61, 61, 61);
    color: rgb(255, 242, 242);
    padding: auto;
}

.button-cep:hover {
    border: rgb(39, 39, 39) 1px solid;
    color: white;
    background: rgb(39, 39, 39);
}


.form-group {
    color: rgb(255, 255, 255);
}

.form-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    align-items: center;
    margin: 20px;
    padding: 3px 20px;
    width: 40%;
    height: 42px;
}


@media only screen and (max-width: 768px) {
    html {
        height: 100%;
        min-height: 100em;
    }
}

@media only screen and (max-width: 927px) {
    html {
        height: 100%;
        min-height: 100em;
    }
}

@media only screen and (max-width: 1200px) {
    html {
        height: 100%;
        min-height: 100em;
    }
}

@media only screen and (max-width: 576px) {
    html {
        height: 100%;
        min-height: 120em;
    }
}