@font-face {
    font-family: Poppins-Regular;
    src: url('/src/assets/fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('/src/assets/fonts/montserrat/Montserrat-Bold.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('/src/assets/fonts/poppins/Poppins-Bold.ttf');
}

* {
    font-family: Poppins-Bold, sans-serif;
}

.container {
    margin: 0 auto;
    width: 80%;
    max-width: 100%;
}

.TittleForm {
    margin: 0 auto;
    padding-top: 2em;
    padding-bottom: 1em;
    font-size: 27px;
    font-weight: 500;
    text-align: center;
    vertical-align: center;
}

fieldset {
    border: 2px rgb(172, 167, 167) solid;
    border-radius: 7px;
    margin-bottom: 1em;
}

legend {
    font-size: 20px;
    width: auto;
}

input:hover {
    background-color: rgb(245, 245, 245);
    border: 1px solid groove;
}

.ClassButton {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    align-items: center;
    margin: 20px;
    padding: 3px 20px;
    width: 40%;
    height: 42px;
}