
@font-face {
    font-family: Poppins-Regular;
    src: url('/src/assets/fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('/src/assets/fonts/poppins/Poppins-Bold.ttf');
}

.container {
    margin: 0 auto;
    width: 80%;
    max-width: 100%;
}

.TittleForm{
    margin: 0 auto;
    padding-top: 2em;
    padding-bottom: 1em;
    font-size: 27px;
    font-weight: 500;
    font-family: Poppins-Bold;
    text-align: center;
    vertical-align: center;
}

fieldset {
    border:2px rgb(172, 167, 167) solid;
    border-radius: 7px; 
    margin-bottom: 1em;
}
legend {
    font-family: Poppins-Bold;
    font-size: 20px;
    width: auto;
}
.ClassButton{
    font-family: Poppins-Bold;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.form-button{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    align-items: center;
    margin:20px;
    padding: 3px 20px;
    width: 40%;
    height: 42px;
}

input{
    font-family: Poppins-Bold;
}

.SeparationForm{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 15px;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-right: 5em;
    padding-left: 5em;
    max-width: 100%;
    border: 1px solid rgb(49, 49, 49);
    border-radius: 7px; 
    font-weight: 400;
  
    
}