@font-face {
    font-family: Poppins-Regular;
    src: url('/assets/fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('/assets/fonts/montserrat/Montserrat-Bold.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('/assets/fonts/poppins/Poppins-Bold.ttf');
}

* {
    font-family: Poppins-Regular, sans-serif;
    color: rgb(255, 255, 255);
}

.dropdown-item{
    color:rgb(22, 22, 22);
}

.body {
    background: #1c61af;
    background: -webkit-linear-gradient(45deg, #07293d, #3881d4);
    background: -o-linear-gradient(45deg, #07293d, #3881d4);
    background: -moz-linear-gradient(45deg, #07293d, #3881d4);
    background: linear-gradient(45deg, #07293d, #3881d4);
}
.container {
    margin: 0 auto;
    width: 80%;
    max-width: 100%;
}

.TittleForm {
    color: rgb(255, 255, 255);
    margin: 0 auto;
    padding-top: 2em;
    padding-bottom: 1em;
    font-size: 27px;
    font-weight: 500;
    text-align: center;
    vertical-align: center;
}

fieldset {
    border: 2px rgb(172, 167, 167) solid;
    border-radius: 7px;
    margin-bottom: 1em;
}

legend {
    font-size: 20px;
    width: auto;
}

input:hover {
    background-color: rgb(245, 245, 245);
    border: 1px solid groove;
}

.form-control{
    color: black;
}

option{
    color:black;
}

.ClassButton {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn-info{
    background: rgb(13, 102, 129);
    border-color:rgb(13, 102, 129);
}

.btn-info:hover{
    background:rgb(16, 86, 143) ;
    border-color:rgb(16, 86, 143);
}

.btn-dark{
    background: rgb(27, 27, 27);
}
.btn-dark:hover{
    background: black;
}


.form-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    align-items: center;
    margin: 20px;
    padding: 3px 20px;
    width: 40%;
    height: 42px;
}